"*":
  "atom-terminal":
    app: "%SystemRoot%\\system32\\WindowsPowerShell\\v1.0\\powershell.exe"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "atom-terminal"
      "hydrogen-python"
      "language-gfm"
      "markdown-preview"
      "Hydrogen"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    uriHandlerRegistration: "always"
  "document-outline":
    showByDefault: false
  editor:
    fontSize: 15
    preferredLineLength: 79
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "ee538cd1-7a20-4532-8d9a-859342949391"
  "highlight-selected":
    lightTheme: true
    showResultsOnScrollBar: true
  "hydrogen-python":
    expandCode: true
  "ide-python":
    pylsPlugins:
      pydocstyle: {}
      pylint:
        enabled: true
  "markdown-preview-plus":
    syncConfig:
      syncEditorOnPreviewScroll: true
      syncPreviewOnEditorScroll: true
    syntaxThemeName: "one-light-syntax"
  "nav-panel-plus":
    noDups: false
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
".md.text":
  whitespace:
    removeTrailingWhitespace: false
