
# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.python':
    'Optionals':
        'prefix': 'args'
        'body':"*args, **kwds"
    'Keywords':
        'prefix': 'kwds'
        'body':"**kwds"
    'Numpy':
        'prefix': 'inp'
        'body': "import numpy as np"
    'PyPlot':
        'prefix': 'impl'
        'body':"""
        import matplotlib as mpl
        import matplotlib.pyplot as plt
        """
    'None':
        'prefix': 'none'
        'body':"None"
    'If None':
        'prefix': 'ifnone'
        'body':"""
        if ${1:variable} is ${2:not }None:
            ${3:pass}
        """
    'New Class':
        'prefix': 'class'
        'body': 'class ${1:ClassName}(${2:object}):\n\t"""${3:docstring for $1.}"""\n\n\tdef __init__(self, ${4:arg}):\n\t\t${5:super().__init__()}\n\t\tself.arg = arg\n$0'
    'New Function':
        'prefix': 'def'
        'body': 'def ${1:fname}(${2:arg}):\n\t"""${3:docstring for $1.}"""\n\t${4:pass}'
    'New Method':
        'prefix': 'defs'
        'body': 'def ${1:mname}(self, ${2:arg}):\n\t"""${3:docstring for $1.}"""\n\t${4:pass}'
    'New Magic Method':
        'prefix': 'defm'
        'body': 'def __${1:mname}__(self, ${2:arg}):\n\t${3:pass}'
    'Section':
        'prefix': 'sctn'
        'body': """
        # =============================================================================
        # %%* ${1:section}
        # =============================================================================

        """
    'Subsection':
        'prefix': 'ssctn'
        'body': """
        # -----------------------------------------------------------------------------
        # %%* ${1:subsection}
        # -----------------------------------------------------------------------------
        
        """
    'Parameters':
        'prefix': 'pardoc'
        'body':"""
        Parameters
        ----------
        ${1:arg}
        """
    'Returns':
        'prefix': 'retdoc'
        'body':"""
        Returns
        -------
        ${1:out}
        """
    'Keyword only':
        'prefix': 'keydoc'
        'body':"""
        Keyword only
        ------------
        ${1:kwd}
        """
    'Raises':
        'prefix': 'raisedoc'
        'body':"""
        Raises
        ------
        ${1:Exception}
        """
    'See Also':
        'prefix': 'seedoc'
        'body':"""
        See Also
        --------
        ${1:other}
        """
    'Notes':
        'prefix': 'notedoc'
        'body':"""
        Notes
        -----
        ${1:note}
        """
    'Routines':
        'prefix': 'routinedoc'
        'body':"""
        Routine Listings
        ----------------
        ${1:routine}
        """
